<div class="account-management-page">
  <header class="account-header">
    <h1>Change Password</h1>
  </header>

  <!-- Flash messages -->
  <% if (notice && notice.length > 0) { %>
    <% notice.forEach(msg => { %>
      <div class="flash-message success">
        <p><%= msg %></p>
      </div>
    <% }) %>
  <% } %>

  <!-- Validation errors -->
  <% if (errors && errors.length > 0) { %>
    <div class="form-errors">
      <ul>
        <% errors.forEach(err => { %>
          <li><%= err.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <form action="/account/update-password" method="POST" class="account-form">
    <label for="account_password">New Password:</label>
    <input type="password" id="account_password" name="account_password" required>
    <button type="submit">Update Password</button>
  </form>
</div>
