<section class="hero">
  <img src="/images/vehicles/camaro.jpg" alt="Camaro" class="hero-img">
  <div class="hero-text">
    <h1>Welcome to CSE Motors!</h1>
    <p>The Chevrolet Camaro is a legendary American sports car that combines aggressive styling, powerful performance, and advanced technology. With its bold design, sculpted body lines, and muscular stance, the Camaro delivers both speed and style. Equipped with high-performance engine options and precision handling, it offers an exhilarating driving experience that captures the true spirit of the road. Whether on the track or city streets, the Camaro stands as a symbol of strength, innovation, and passion for performance.</p>
    <a href="/inventory" class="btn-primary">BUY NOW!</a>
  </div>
</section>

<section class="upgrade">
  <h2>Upgrade your Camaro!</h2>
  <div class="upgrade-grid">
    <a href="#" class="upgrade-card">
      <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
      <h3>Modern Showroom</h3>
      <p>Add flame decals to your car for a bold, sporty look.</p>
    </a>
    <a href="#" class="upgrade-card">
      <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
      <h3>Flame Decals</h3>
      <p>Add flame decals to your Camaro.</p>
    </a>
    <a href="#" class="upgrade-card">
      <img src="/images/upgrades/flux-cap.png" alt="Flux-cap">
      <h3>Flux Cap</h3>
      <p>Bring the Back to the Future vibe to your ride with a Flux Cap!</p>
    </a>
    <a href="#" class="upgrade-card">
      <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
      <h3>Hub Cap</h3>
      <p>Protect and style your rims with high-quality hubcaps.</p>
    </a>
  </div>
</section>
